:root {
    --primary: #6a8a73;
    --secondary: #f8f1e9;
    --secondary-font-color: aliceblue;
}

* {
    margin: 0;
    padding: 0;
}
/* ===================== utility classes =================== */
.description-container-width {
    width: 60%;
}

.hr-style {
    padding: .5% 0 1% 0;
}

.custom-hr {
    border: 0;
    background-color: black;
    height: 1.5px;
}

.h2-container {
    padding: 0 0 2%;
    text-align: center;
}

.font-sizing {
    font-size: 19px;
}

/* ===================== header section ==================== */
header {
    background-color: var(--primary);
    display: flex;
    justify-content: center;
}

article {
    font-size: 1em;
}

h1 {
    font-family: "Bona Nova SC", serif;
    font-weight: bold;
    font-size: 2.4rem;
    color: var(--secondary-font-color);
}

/* ==================== main section ======================= */
#game-container {
    width: 60vw;
    height: 100vh;
    position: relative;
    box-sizing: border-box;
}

#fullscreen-btn {
    position: absolute;
    bottom: 0;
    right: 0;
}

iframe {
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--secondary);
    padding: 2% 0 5% 0;
    line-height: 2;
    overflow: hidden;

    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

article > p {
    text-align: center;
    text-indent: 10%;
}

/* ====================== footer section ====================== */
footer {
    background-color: var(--primary);
    font-family: 'Times New Roman', Times, serif;
    color: var(--secondary-font-color);
}

#footer-info {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 1.5rem 0;
    font-size: 1.1rem;
}

/* ======================= media queries ==================== */
@media screen and (min-width: 600px) {
    
}